body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    background-image: url('https://images5.alphacoders.com/445/445906.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.title-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.container {
    background: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    border: 10px double;
    border-color: #0000ff #ffffff; /* Azul e branca */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    z-index: 1;
}

h1 {
    color: #ffffff; /* Cor branca */
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra do texto */
}

#ip {
    font-size: 3em;
    color: #ff0000; /* Vermelho */
    font-family: 'Orbitron', sans-serif; /* Fonte 3D */
}

#ip strong {
    font-weight: bold;
}

.title-image {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Adicione uma sombra à imagem */
    border-radius: 10px; /* Bordas arredondadas */
}
